.userContainer{
  float:right;
  width:auto;
  min-width:150px;
  margin:0 30px;
  cursor: pointer;
  position:relative;
  a{
    color:#fff;
    &:hover{
      text-decoration:none;
    }
  }
  img{
    width:40px;
    height:40px;
    margin:10px;
    border-radius:30px;

  }
  span{

  }

  .userMenu{
    background:#444;
    width:100%;
    height:auto;
    padding-bottom:10px;
    position:absolute;
    ul{
      margin:0;
      padding:0;
      padding-left:15px;
    }
    li{
      width:100%;
      color:#fff;
      list-style:none;
      margin-bottom:5px;
    }
  }

  .active{
    background:#444;
    span{
      color:#fff;
    }
  }
}